<html>
<head>
    <title>Floor Votes</title>
    <meta content="utf-8" http-equiv="encoding">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- XBBCode -->
    <link href="/static/xbbcode/xbbcode.css" rel="stylesheet">
    
    <!-- Floor Votes App -->
    <script src="/static/floorvotes.js"></script>
    
</head>
<body>
    <div class="container" role="main" ng-app="myApp" ng-controller="itemCtrl">
      <a href="/{{ dir }}">&lt;-- Back </a>
      <h1>{{ item.name }}</h1>
      
      <br>
      
      <div ng-bind-html="getHtml(item.html)"></div>
      
      <br><br>
      
      <div class="col-lg-4">
        <input type="text" class="form-control" aria-label="..." placeholder="Enter Username" ng-model=username>
      </div>
      <div class="row">
        <select class="selectpicker" data-style="btn-inverse" ng-model="user_party">
          <option ng-repeat="party in party_types">{{ party.name }}</option>
        </select>
        <select class="selectpicker" data-style="btn-inverse" ng-model="user_vote">
          <option ng-repeat="vote in vote_types">{{ vote.name }}</option>
        </select>
        <button type="button" class="btn btn-default" ng-click="submit()">Vote!</button>
      </div>
      
      <br><br>
      
      <h1>Roll Call</h1>
      <h3>Ayes: {{ item.ayes }}; Nays: {{ item.nays }}; Present: {{ item.presents }}</h3>
      <div class="col-md-12">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Username</th>
              <th>Party</th>
              <th>Vote</th>
              <th>Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="vote in item.rollcall.votelist">
              <td><a href='/{{ dir }}/user/{{ vote.user.username }}'>{{ vote.user.username }}</a></td>
              <td>{{ vote.party }}</td>
              <td>{{ vote.vote }}</td>
              <td>{{ vote.timestamp }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    
    <!-- Bootstrap-Select -->
    <link href="/static/bootstrap-select/css/bootstrap-select.min.css" rel="stylesheet">
    <script src="/static/bootstrap-select/js/bootstrap-select.min.js">$('.selectpicker').selectpicker();</script>
    
</body>
</html>
