<html>
<head>
    <title>Floor Votes</title>
    <meta content="utf-8" http-equiv="encoding">
    
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    
    <!-- Bootstrap core CSS -->
    <link href="../../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- XBBCode -->
    <link href="../../static/xbbcode/xbbcode.css" rel="stylesheet">
    
    <!-- Floor Votes App -->
    <script src="../../static/floorvotes.js"></script>
    
</head>
<body>
    <div class="container" role="main" ng-app="myApp" ng-controller="myCtrl">
      <a href="/{[ floorvotes_path ]}">&lt;-- Back </a>
      <h1>{[ item.name ]}</h1>
      {[ item.html|safe ]}
      <br><br>
      <div class="col-lg-4">
        <div class="input-group">
          <input type="text" class="form-control" aria-label="..." placeholder="Enter Username" ng-model=username>
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Submit Vote <span class="caret"></span></button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li><a href="#" ng-click="submitVote({[ item.item_id ]}, username, 'Aye')">Aye</a></li>
              <li><a href="#" ng-click="submitVote({[ item.item_id ]}, username, 'Nay')">Nay</a></li>
              <li><a href="#" ng-click="submitVote({[ item.item_id ]}, username, 'Present')">Present</a></li>
            </ul>
          </div><!-- /btn-group -->
        </div><!-- /input-group -->
      </div>
      
      <br><br>
      <div class="row">
        <h1>Roll Call</h1>
        <h3>Ayes: {[ item.rollcall.get_rollcount()[0] ]}; Nays: {[ item.rollcall.get_rollcount()[1] ]}; Present: {[item.rollcall.get_rollcount()[2]]}</h3>
        <div class="col-md-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Username</th>
                <th>Vote</th>
                <th>Timestamp</th>
              </tr>
            </thead>
            <tbody>
            {% for vote in item.rollcall.voteslist %}
              <tr>
                <td>{[ vote.user.username ]}</td>
                <td>{[ vote.vote ]}</td>
                <td>{[ vote.timestamp ]}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    
</body>
</html>
