<html>
    <head>
        <title>Floor Votes</title>
        
        <!-- Angular -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
        
        <!-- Bootstrap core CSS -->
        <link href="../static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
   </head>
<body>
    <p>Warning! This site is running on system memory which is not backed by a database. The app can be refreshed and data will be lost at any time.</p>
    
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
